.vue-toast_container {
  position: absolute;
  padding-bottom: 10px;
  transform: translateY(0);
  transition: transform .2s ease-out, opacity .3s ease-out;
  backface-visibility: hidden;
}

.vue-toast-manager_container {
  &.--top .vue-toast_container {
    top: 0;
  }
  &.--bottom .vue-toast_container {
    bottom: 0;
  }
  &.--left .vue-toast_container {
    left: 0;
  }
  &.--right .vue-toast_container {
    right: 0;
  }
}

.vue-toast_container.v-enter,
.vue-toast_container.v-leave {
  opacity: 0;
}

.vue-toast_message {
  padding: 15px 10px;
  background-color: rgba(0,0,0, .8);
  color: white;
  font-family: arial, sans-serif;
}
