.vue-toast_container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 10px;
  transform: translateY(0);
  transition: transform .2s ease-out, opacity .3s ease-out;
  backface-visibility: hidden;
}

.vue-toast_container.v-enter,
.vue-toast_container.v-leave {
  opacity: 0;
}

.vue-toast_message {
  padding: 15px 10px;
  background-color: rgba(0,0,0, .8);
  color: white;
  font-family: arial, sans-serif;
}
